body {
    background-color: #d00;
    padding: 0;
    margin: 0;
}

#title {
    background-color: #222;
    color: #fff;
    font: 40px georgia, serif;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 20px #000;
    
    position: fixed;
    left: 6%;
    z-index: 20;
}

#wrapper {
    position: relative;
    top: 80px;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 20px #000;
}

.pullquote {
    border: 8px #d00 solid;
    padding: 20px;
    font: 20px georgia, serif;
    width: 40%;
    float: left;
    margin-right: 20px;
}

.pullquote + p {
    width: 50%;
    float: left;
}

.pullquote + p + p {
    clear: both;
    width: 100%;
}

.reason {
    font: 18px georgia, serif;
    color: #a00;
}

h1 {
    font: 26px georgia, serif;
}

p {
    font: 16px "trebuchet ms", sans-serif;
}